h1{
text-align:center
}

figure{
text-align:center
}

h2{
    color: lightblue;
    text-align:center;
}

p{
    text-align:center
}

nav{
text-align:right;
display: flex;
justify-content: space-between;
gap: 10px;

}

header{
display: flex;
justify-content: space-between;
border-bottom: 1px solid #dbdbdb;
border-top: 1px solid#dbdbdb;
height: 50px;
align-items: center;
}

#header1{
height: 70px:
}

#nav1{
display:flex;
gap: 30px;
align-items: center;
}

#nav2{
display: flex;
gap: 30px
}

#span1{
width:130px;
flex-wrap: wrap;
font-size:13px;
}

a{
text-decoration: none;
color: black;
}

a:hover{
text-decoration: none;
color: none;
}
