h1{
    color: pink;

}

button{
    margin:10px;
    padding: 15px;
    font-size:20px;
    background-color:white;
    border-width:0px;



}
body{
    text-align:center;
    background-color:black;
}
