header{
    position:fixed;
    top: 0;
    width:100%;
    background-color:#FFC0CB;
    margin-bottom:0;
    font-size:40px;
    text-align:center;
    z-index: 99999;
}

main{
    width:500px;
    margin:100px auto 0;
}

.sticky{
    background-color:lightpink;
    padding:1rem;
    position:sticky;
    top:100px;
    height:50px;
}

body{
    height:4000px;
}
