body{
    text-align:center;
    background-color:#90EE90;

}
h1{
    color:#8A2BE2;
}
button{
    margin:100px;
    padding: 100px;
    font-size:20px;
    background-color:white;
    color:#800080;
    border-width:0px;


}
